@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
    /* --text-color: 0, 0, 0;  */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 50,50,50;
    --background-end-rgb: 50,50,50;
    /* --text-color: 255, 255, 255; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--text-color));
} */



 /* bg-gradient-to-br from-amber-400 to-orange-400 */
    /* bg-gradient-to-br from-pink-400 to-red-400 p-4 transition-transform duration-[250ms] */
        /* bg-gradient-to-br from-green-400 to-emerald-400 */
                /* bg-gradient-to-br from-violet-400 to-indigo-400 */